@media (min-width: 768px) {
  html, body {
    overflow-y: hidden;
  }
}


//Common and Helpers
img, object, embed {
  max-width: 100%;
  height: auto;
}

img {
  display: inline-block;
}

.text-light {
  color: #c3c3c3;
}

.thumb-xs-l {
  width: 25px;
}

//Global Header
#global_header {
  ul.nav > li > a {
    font-weight: 500;
  }
}

//Global Side Navigation
.pcs-sidenav-container {
  header {
    padding: 8px;
    &:hover {
      background-color: #21242b !important;
      & > div > a {
        opacity: 1;
        background-color: #21242b;
      }
    }

    & > div {
      margin-top: 2px;
      & > a {
        opacity: 0.2;
        background-color: transparent;
        border: none;
      }
    }
  }

  ul.nav > li > a {
    padding: 5px 5px 5px 20px;
  }

  ul.nav > li.active > a {
    background-color: #2c3039 !important;
    border-left: 5px solid #92cf5c;
    padding-left: 15px;
  }
}
//Global User Nav
#global_user_nav {
  header {
    background-color: #21242b;
  }
}

//Global Workspace Nav
#global_workspace_nav {
  header {
    cursor: pointer;
    padding: 4px 8px 6px 14px;
    & > a {
      text-transform: uppercase;
    }
  }
}


//Searcher
#global_searcher {
  position: relative;
   i {
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 50%;
    margin-top: -7px;
    color: #bbb;
  }
  input[type="text"] {
    text-indent: 1.5em;
    height: auto !important;
    padding: 4px;
    background-color: #29313a;
    font-size: 13px;

    &:focus {
      background-color: white;
    }
  }
}

//Fiile Type Icon
.file-type-icon {
  clear: both;
  display: block;
  width:30px;
  height:40px;
  background:#666;
  position:relative;
  border:1px solid #E6E6E6;
  border-radius:2px;
  box-shadow:inset 1px 1px 0 0 #fff;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: #F9F9F9 !important;
  }

  &:after {
    content: "";
    display:block;
    position:absolute;
    top:-1px;
    right:-1px;
    width: 0;
    height: 0;
    border-left: 12px solid #eeeeee;
    border-top: 12px solid #ffffff; /*change this color if you want to use it on custom background*/
    box-shadow:-1px 1px 0px 0 #E6E6E6;
  }

  span {
    background: inherit;
    text-align:center;
    display:block;
    position:absolute;
    bottom:5px;
    left:-2px;
    height:15px;
    line-height:15px;
    font-size:10px;
    color:#fff;
    border-radius:1px;
    width:25px;
  }
}

.file-type-icon.flat {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;

  &:before {
    background: #fff !important;
    opacity: 0.8 !important;
  }

  &:after {
    border-left: 12px solid rgba(255,255,255,0.7) !important;
    box-shadow: none !important;
  }

}

.file-type-icon.doc {
  background: #398439;
}

.file-type-icon.png {
  background: #3298a4;
}
.file-type-icon.txt {
  background: #a43298;
}
.file-type-icon.xlsx {
  background: #98a432;
}
.file-type-icon.pdf {
  background: #983228;
}


//Logo
#logo_container {
  padding: 10px;
}

//Dragger
.pcs-dragger {
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 14px;
  z-index: 20;
  background-repeat: repeat;
  background-position: 0 0;
  cursor: move;
  display: inline-block;
  min-height: 18px;
  min-width: 10px;
  vertical-align: middle;
  color: #d5d5d5;

  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: 16px;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    margin-right: 4px;
    text-align: center;
    content: "\f142";
    height: 10px;
    width: 5px;
    position: absolute;
  }
}



//Modal Dialog
.modal-dialog.flat-dialog {
  .modal-content {
    border-radius: 0px;
    border: none;
    .panel {
      border-radius: 0px;
      border: none;
      .panel-heading {
        border-radius: 1px;
      }
      .panel-footer {
        border-radius: 0px;
      }
    }
  }
}

//Form
form {
  .form-group {
    .radio, .checkbox {
      margin-top: 0px;
      margin-bottom: 0px;
    }
      
    .radio + .radio, .checkbox + .checkbox {
    }
  }
}




//Item Detail
.pcs-item-detail {
  & > header {
    margin-bottom: 20px;
  }

  & > article {
    margin-bottom: 30px;
  }


}

//Task list
.pcs-tasklist {
  margin-bottom: 10px;

  header{
    position: relative;

    .pcs-dragger {
      display: none;
    }

    &:hover .pcs-dragger {
      display: inline-block;
    }

    h4 {
      margin: 0;
      padding: 10px 15px 10px 25px;
    }
  }

  .checkbox-custom {
    margin-left: 0px;
    display: inline;
  }

  .list-group-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;

    .pcs-dragger {
      top: 11px;
      display: none;
    }

    &:hover {
      .pcs-dragger {
        display: inline-block;
      }
    }

    a.thumb-xs-l {
      margin-top: -3px;
    }

    &.pcs-addtask {
      border-bottom: none;
      padding-top: 5px;
      padding-bottom: 5px;
      opacity: 0;
    }
  }

  &:hover {
    .list-group-item {
      &.pcs-addtask {
        opacity: 1;
      }
    }
  }
}
//Task Deatil
.pcs-task {
  position: relative;
  margin-left: 45px;
  .pcs-tasktitle {
    .checkbox-custom {
      position: absolute;
      left: -20px;
      i.fa {
        font-size: 0.8em
      }
    }

  }
}

//Note list
.pcs-notelist {

  .list-group-item {
    p {
      margin: 3px 0 0;
      line-height: 1.2;
    }
  }
}

//Conversation Detail
#conversation_detail {
  .comment-list .comment-item:first-child {
    border-top: none;
  }
}

//File List
.pcs-filelist {
  .list-group-item {
    .pcs-filemeta {
      span {
        &:before {
          content: "・";
        }
        &:first-child {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}

#file_detail {
  .pcs-file {
    .pcs-file-thumb {
      border: 1px solid #eee;
      padding: 5px;
      width: 35%;
      max-width: 35%;
      max-height: 200px;
      margin-right: 20px;
    }
  }
}


//Comments
.comment-list:before {
  content: none;
}
.comment-list .comment-item {
  .comment-body{
    margin-bottom: 1em;
    p {
      margin-bottom: 0em;
      margin-top: 0;

      span.checkbox {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }


  padding-bottom: 0;
  padding-top: 1em;
  border-top: 1px solid #f7f8f9;

}

.comment-item-simple {
  a {
    color: #979797;
  }

  & + .comment-item-simple {
    border-top: 0px;
    margin-top: -2em;
  }
}

