

<template name="tasklist">
  <section class="panel">
    <header class="panel-heading">
     <div class="h4 m-b-xs">
        <span>{{name}}</span>
      </div>
      <div class="text-light text-ellipsis">
        <small>{{description}}</small>
      </div>

    </header>
    <ul class="list-group po-tasklist">
      {{#each tasks }}
        {{> tasklist_item }}
      {{/each }}
    </ul>
    {{> new_task}}
  </section>
  </template>

<template name="new_task">
  {{#isolate}}
    <div class="po-add-task-box">

      {{#if showAddTaskBox}}
        <input type="text" class="po-new-task form-control" data-po-key="{{_id}}" placeholder="Press ENTER to add task, press ESC to cancel">
      {{else}}
      <a href="#" class="pojs-show-add-task-box text-light" data-po-key="{{_id}}"><i class="icon-plus"></i> Add task</a>
      {{/if}}

    </div>
  {{/isolate}}
</template>
