<template name="task_detail">
    <section class="vbox">


      <section class="scrollable wrapper">
        {{#if task}}
        <header class="m-b-lg">
            <nav class="po-task-bar clearfix" role="navigation">
              <ul class="nav navbar-nav">
                <li>
                  <a href="#" data-toggle="dropdown" class="po-with-remove-icon">
                    <i class="icon-user icon-large"></i>
                    {{#if assigned_user}}
                    {{userDisplayName assigned_user}}
                    <i class="icon-remove pojs-task-remove-assignee"></i>
                    {{else}}
                    Unassigned
                    {{/if}}
                  </a>
                  <ul class="dropdown-menu m-t-sm animated ">
                    <span class="arrow top"></span>
                    {{#each available_users}}
                    <li>
                      <a class="pojs-change-assignee" href="#" data-po-type="User" data-po-property="name" data-po-key="{{_id}}">{{userDisplayName this}}</a>
                    </li>
                    {{/each}}
                  </ul>
                </li>
                <li>
                  <a href="#" class="po-with-remove-icon pojs-select-due" data-date-format="yyyy-mm-dd" data-date="{{safeStandardTimestamp task.dueAt}}">
                    <i class="icon-calendar icon-large"></i>
                  <span id="task-due">
                    {{#if task.dueAt}}
                      {{shortDateOfTimestamp task.dueAt}}
                      <i class="icon-remove pojs-remove-due"></i>
                    {{else}}Due Date{{/if}}
                  </span>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="icon-tags"></i></a></li>
                <li><a href="#"><i class="icon-paper-clip"></i></a></li>
                <li><a href="#"><i class="icon-comment-alt"></i></a></li>
              </ul>
            </nav>
        </header>

        <section class="po-with-icon-col">
          <div class="po-icon-col">
            <div class="checkbox po-task-done">
              <label class="checkbox-custom">
                <input type="checkbox" class="pojs-toggle-done" date-po-type="Task" data-po-key="{{task._id}}" data-po-property="done" name="checkboxA" {{#if task.done}} checked="checked" {{/if}} >
                <i class="icon-unchecked {{#if task.done}}checked{{/if}}"></i>
              </label>
            </div>
          </div>

          <section>
            <div>
              <textarea rows="1" class="auto-resize form-control hover-edit po-task-title pojs-edit-text" data-po-type="Task" placeholder="Task title" data-po-key="{{task._id}}" data-po-property="text">{{editingTaskText}}</textarea>
            </div>
          </section>
        </section>

        <section>
          <section class="po-task-file-dropzone hide">
            <div id="dropzone">
              <span>Drop a file here to attach to this task</span>
            </div>
          </section>

          <section class="po-with-icon-col m-t-sm">
            <div class="po-icon-col">&nbsp;</div>
            <section>
                <div>
                  <textarea rows="1" class="auto-resize form-control hover-edit pojs-edit-description" placeholder="Description" data-po-type="Task" data-po-key="{{task._id}}" data-po-property="description">{{task.description}}</textarea>
                </div>
            </section>
          </section>

          <section class="po-with-icon-col m-t">
            <div class="po-icon-col pd-t-sm">
              <i class="icon-tags icon-large"></i>
            </div>
            <section>
              <input type="text" class="pojs-set-tags" placeholder="Type to set tags" value="{{taskTags}}">
            </section>
          </section>

          {{#if hasFiles}}
            <hr class="m-t-sm m-b-sm">
            <section class="po-with-icon-col">
                <div class="po-icon-col pd-t-sm">
                  <i class="icon-paper-clip icon-large"></i>
                </div>
              <section>
                <ul class="list-unstyled">

                  {{#each taskFiles}}
                    <li>
                      <i class="icon-file-alt icon-large"></i>
                        {{#if cfsIsComplete "Uploads"}}
                          {{cfsDownloadButton "Uploads" class="po-as-textlink" content=filename}}
                        {{else}}
                          {{cfsDownloadButton "Uploads" class="po-as-textlink disabled" content=filename}}
                          {{cfsQueueProgressBar "Uploads"}}
                        {{/if}}
                      <button type="button" class="close">
                        <i class="icon-remove"></i>
                      </button>
                    </li>
                  {{/each}}
                </ul>
               </section>
            </section>


          {{/if}}

          {{#if hasActivities}}
            <hr class="m-t-sm m-b-sm">
            <section>
              <ul class="list-unstyled">

                {{#each taskActivities}}
                  {{#if isComment}}

                    <li class="po-with-icon-col po-task-{{type}}">
                      <div class="po-icon-col">
                          <a href="#" class="pull-left thumb m-r m-t-n-xs" style="max-width: 28px;">
                            <img src="images/avatar.jpg" class="img-circle">
                          </a>
                      </div>
                      <section class="pd-l-xs">
                        <span>
                          <a href='#' class='po-task-activity-user'><strong>{{userDisplayName userId}}:</strong></a>&nbsp;
                          {{text}}
                          <span class="text-light text-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{fullDateOfTimestamp timestamp}}">
                          {{shortDateOfTimestamp timestamp}}
                          </span>
                        </span>
                      </section>

                    </li>
                  {{else}}

                    <li class="po-with-icon-col po-task-{{type}}">
                      <div class="po-icon-col">
                        &nbsp;
                      </div>
                      <section class="pd-l-xs">
                        <span>
                          <a href='#' class='po-task-activity-user'><strong>{{userDisplayName userId}}</strong></a>
                          {{taskActivityText this}}
                          <span class="text-light text-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{fullDateOfTimestamp timestamp}}">
                          {{shortDateOfTimestamp timestamp}}
                          </span>
                        </span>
                      </section>

                    </li>
                  {{/if}}

                {{/each}}

              </ul>
            </section>
          {{/if}}

          <hr class="m-t-sm m-b-sm">
          <section class="po-with-icon-col">
              <div class="po-icon-col">
                <a href="#" class="pull-left thumb m-r" style="max-width: 28px;">
                  <img src="images/avatar.jpg" class="img-circle">
                </a>
              </div>
            <section class="pd-l-xs">
              <form class="pojs-new-comment-form">
                <textarea rows="3" class="pojs-new-comment-content auto-resize form-control hover-edit" placeholder="Write comment..." data-po-type="Task" data-po-key="{{_id}}" data-po-property="comment"></textarea>

                {{#if newCommentEditingMode}}
                <input type="submit" class="pojs-add-comment btn btn-success btn-sm m-t-sm" value="Comment"/>
                {{/if}}
              </form>
            </section>
          </section>
        </section>

        {{else}}

          <p class="text-lg">Select a task to view its details.</p>

        {{/if}}
      </section>
    </section>
</template>