

<template name="tasklist">
  <section class="panel">
    <header class="panel-heading">
      <!--
        <input type="text" data-po-key="{{_id}}" data-po-property="name" data-po-type="Tasklist" class="form-control text-xl" value="{{name}}">
        <input type="text" data-po-key="{{_id}}" data-po-property="description" data-po-type="Tasklist" class="form-control text-sm" value="{{description}}">
       -->
      <div class="h4 m-b-xs">
        <span>{{name}}</span>
      </div>
      <div class="text-light text-ellipsis">
        <small>{{description}}</small>
      </div>

    </header>
    <ul class="list-group po-tasklist">
      {{#each tasks }}
        {{> tasklist_item }}
      {{/each }}
      <div>
        <a href="#" class="pojs-add-task text-light" data-po-key="{{_id}}">+ Add task</a>
      </div>
    </ul>
  </section>
</template>