<template name="discussion_detail">

  <section class="vbox">
    <section class="scrollable">
      <div class="wrapper">
        {{#if discussion}}
        {{#with discussion}}

          <textarea rows="1" class="auto-resize form-control po-hover-edit" data-po-type="Discussion" data-po-key="{{_id}}" data-po-property="name">{{name}}</textarea>
          <textarea rows="1" class="auto-resize form-control po-hover-edit" data-po-type="Discussion" data-po-key="{{_id}}" data-po-property="text">{{text}}</textarea>

        {{/with}}
        {{else}}
          <p class="text-lg">Select a discussion to view its details.</p>
        {{/if}}
      </div>
    </section>
  </section>

</template>