<template name="teamTasks">

  <header>
    <div class="bd-b bg-white pd-xl">
      <h3>
        {{#with currentTeam}}
        Tasks in {{name}}
        {{/with}}
        <div class="pull-right">
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Create a tasklist
          </button>
          <button class="btn">
            <span class="glyphicon glyphicon-list"></span>
          </button>
        </div>
      </h3>
    </div>
  </header>

  <section class="bg-white pd-xl">
    {{#each tasklists}}
      {{> partialTasklist}}
    {{/each}}
  </section>
</template>

