<template name="userItems">
  <header>
    <div class="bd-b bg-white pd-xl">
      <h3>
        {{userDisplayName user}} Contents
      </h3>
      <div class="pull-right">
        <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}" >
          <li class="uk-active"><a href="#discussions">Discussions</a></li>
          <li><a href="#tasks">Tasks</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="bg-white pd-xl">

    <ul id="switcher-content" class="uk-switcher tab-content">
      <li>
        {{#each discussions}}
          {{> partialDiscussion}}
        {{/each}}
      </li>
      <li>
        <ul class="uk-list">
          {{#each tasks}}
            {{> partialTask}}
          {{/each}}
        </ul>
      </li>
    </ul>
  </section>
</template>