<template name="layoutMockup">
  <section class="hbox stretch">
    {{> mockup_global_nav}}
    {{> mockup_page_container }}
  </section>
</template>

<template name="mockup_global_nav">
  <aside class="aside" style="width: 250px;">
    <section class="hbox stretch">
      {{> mockup_main_nav }}
      {{> mockup_second_nav }}
    </section>
  </aside>
</template>

<template name="mockup_main_nav">

  <aside class="aside aside-md bg-black dker">
    <section class="vbox">
      <section>
        <div class="hidden-xs pcs-sidenav-container" id="global_user_nav">
          <header class="clearfix">
            <div class="pull-right">
              <a class="dropdown-toggle btn btn-xs btn-default" href="" data-toggle="dropdown">
                <b class="caret caret-white"></b>
              </a>
              <ul class="dropdown-menu m-t-xs">
                <li> <a href="profile.html">Profile</a> </li>
                <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li>
                <li> <a href="#">Account Settings</a> </li>
                <li> <a href="docs.html">Help</a> </li>
                <li class="divider"></li>
                <li> <a href="modal.lockme.html" data-toggle="ajaxModal">Logout</a> </li>
              </ul>
            </div>
            <a href="#">
              <span class="thumb-sm avatar pull-left m-r-sm" style="width: 28px;"> <img src="/images/avatar.jpg"> </span>
          <span class="hidden-nav-xs clear" style="padding-top: 5px;">
            <strong>John.Smith</strong>
          </span>
            </a>
          </header>

          <ul class="nav nav-pills nav-stacked no-radius m-t">
            <li><a href="#">
              <i class="fa fa-inbox fa-fw"></i>
              Inbox
            </a></li>
            <li class="active"><a href="#">
              <i class="fa fa-tasks  fa-fw"></i>
              My Items
            </a></li>
            <li><a href="#">
              <i class="fa fa-comment  fa-fw"></i>
              Group Chat
            </a></li>
          </ul>
        </div>

        <div class="m-t-lg pcs-sidenav-container" id="global_workspace_nav">
          <header class="clearfix">
            <div class="pull-right">
              <a class="dropdown-toggle btn btn-xs btn-default" href="" data-toggle="dropdown">
                <b class="caret caret-white"></b>
              </a>
              <ul class="dropdown-menu m-t-xs">
                <li> <a href="#">Workspace Settings</a> </li>
                <li><a href="#">Show Archived</a></li>
                <li class="divider"></li>
                <li> <a href="profile.html">Change Workspace</a> </li>
              </ul>
            </div>
        <span>
          <span class="hidden-nav-xs clear" style="padding-top: 5px;">
            <strong>S2K1</strong>
          </span>
        </span>
          </header>
          <ul class="nav nav-pills nav-stacked no-radius m-t-xs">
            <li><a href="#">
              Masterment
            </a></li>
            <li><a href="#">
              Kengen
            </a></li>
            <li><a href="#">
              Kaikei Front
            </a></li>
          </ul>
        </div>
      </section>

      <footer id="logo_container">
        <p class="h3 font-thin">Tegami</p>
        <form action="" class="m-b-none" id="global_searcher">
          <i class="fa fa-search"></i>
          <input type="text" class="input-sm form-control no-border " placeholder="Search...">
        </form>
      </footer>
    </section>
  </aside>
</template>


<template name="mockup_second_nav">
  <aside class="bg-black only-icon nav-vertical no-borders" id="nav" style="width: 50px;">
  <nav class="nav-primary hidden-xs">
    <ul class="nav">
      <li>
        <a href="index.html">
          <i class="fa fa-list-ul"></i>
          <span>Activities</span>
        </a>
      </li>
      <li class="active">
        <a href="conversations">
          <i class="fa fa-comments"></i>
          <span>Conversations</span>
        </a>
      </li>
      <li>
        <a href="tasks">
          <i class="fa fa-check-square-o"></i>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a href="notes">
          <i class="fa fa-file-text"></i>
          <span>Notes</span>
        </a>
      </li>
      <li>
        <a href="files">
          <i class="fa fa-paperclip"></i>
          <span>Files</span>
        </a>
      </li>
      <li>

          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            <span>Members</span>
          </a>
          <section class="dropdown-menu m-l-sm pull-left animated fadeInRight" style="width:280px;left:42px;top:0px;">
              <div class="arrow left" style="top: 25px"></div>
              <section class="panel bg-white">
                  <div class="list-group">
                      <div class="media list-group-item" style="border:none;">
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                          <a href="#" data-toggle="tooltip" title="Hello Body" onclick="javascript:$('#myModal').modal(); return 0;">
                              <span class="pull-left thumb-sm m-r-xs m-b-xs">
                                  <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                              </span>
                          </a>
                      </div>
                  </div>
                  <footer class="panel-footer">
                      <a href="#" class="pull-right" data-toggle="tooltip" title="Manage members" onclick="javascript:$('#myModal').modal(); return 0;">
                          <i class="fa fa-cog"></i>
                      </a>
                      <strong>13 members</strong>
                  </footer>
              </section>
          </section>
      </li>

      <li>
        <a href="#" onclick='javascript: $("#myModal").modal(); return 0;'>
          <i class="fa fa-cog"></i>
          <span>Settings</span>
        </a>
        <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {{> mockup_settings_dialog }}
        </div>
      </li>
    </ul>
  </nav>
  </aside>
</template>

<template name="mockup_settings_dialog">
  <div class="modal-dialog flat-dialog">
    <div class="modal-content">
      <section class="panel">
        <header class="panel-heading bg-dark">
          <ul class="nav nav-tabs nav-justified text-uc">
            <li class="active">
              <a href="#">General</a>
            </li>
            <li>
              <a href="#">Members</a>
            </li>
            <li>
              <a href="#">Something Else</a>
            </li>
            <li>
              <a href="#">Something Else</a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="wrapper">
            <form role="form">
              <div class="form-group">
                <label>Project name:</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Identifier:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Visibility:</label>
	            <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Option one is this and that—be sure to include why it's great
                  </label>
                </div>
	            <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Option one is this and that—be sure to include why it's great
                  </label>
                </div>
              </div>
              <div class="m-t-lg">
              	<button type="submit" class="btn btn btn-success pull-right">Save Settings</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<template name="mockup_page_container">
  <aside class="bg-white">
    {{ yield }}
  </aside>
</template>
