<template name="mockup_common_commentlist">

  <section class="block feed-list comment-list">
    <article class="feed-item comment-item">
      <a class="pull-left thumb-sm avatar">
        <img src="/images/avatar.jpg" class="img-circle">
      </a>
      <section class="feed-body comment-body">
        <header>
          <a href="">
            <strong>Andy Lau</strong>
          </a>
          <small class="text-light">- 2 minutes ago</small>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet.
        </p>
      </section>
      <section class="feed-body comment-body">
        <header>
          <small class="text-light">2 minutes ago</small>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet.
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>Marry Jason</strong></a> changed topic to <em>How about it?</em>
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>Marry Jason</strong></a> changed topic to <em>I really really really really like like like like it</em>
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>Marry Jason</strong></a> changed topic to <em>How about it?</em>
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item">
      <a class="pull-left thumb-sm avatar">
        <img src="/images/avatar.jpg" class="img-circle">
      </a>
      <section class="feed-body comment-body">
        <header>
          <a href="">
            <strong>Andy Lau</strong>
          </a>
          <small class="text-light">- 2 minutes ago</small>
        </header>
        <p>
          How about this?
        </p>
      </section>
      <section class="feed-body comment-body">
        <header>
          <small class="text-light">2 minutes ago</small>
        </header>
        <p>
          <img src="/images/icon_JPG_small.gif" alt="File"/>
          <a href="#">iii.jpg</a>
          <br>
          <img src="/images/ipad.png" width="300" height="300" alt=""/>
        </p>
      </section>
      <section class="feed-body comment-body">
        <header>
          <small class="text-light">2 minutes ago</small>
        </header>
        <p>
          I really appreciate it.
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>James Bond</strong></a> was joined this conversation
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>Marry Jason</strong></a> changed topic to <em>How about it?</em>
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item">
      <a class="pull-left thumb-sm avatar">
        <img src="/images/avatar.jpg" class="img-circle">
      </a>
      <section class="feed-body comment-body">
        <header>
          <a href="">
            <strong>Andy Lau</strong>
          </a>
          <small class="text-light">- 2 minutes ago</small>
        </header>
        <p>
          <img src="/images/icon_TXT_big.gif" alt=""/>
          <a href="#">tv.txt</a>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item-simple">
      <section class="feed-body comment-body">
        <p>
          <small class="text-muted">
            <a href="#"><strong>Marry Jason</strong></a> changed topic to <em>How about it?</em>
          </small>
          <small class="text-light"> - 2 minutes ago</small>
        </p>
      </section>
    </article>
    <article class="feed-item comment-item">
      <a class="pull-left thumb-sm avatar">
        <img src="/images/avatar.jpg" class="img-circle">
      </a>
      <section class="feed-body comment-body">
        <header>
          <a href="">
            <strong>Andy Lau</strong>
          </a>
          <small class="text-light">- 2 minutes ago</small>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet.
        </p>
      </section>
      <section class="feed-body comment-body">
        <header>
          <small class="text-light">2 minutes ago</small>
        </header>
        <p>
                    <span class="checkbox">
                      <label class="checkbox-custom">
                        <input type="checkbox" name="checkboxB" checked="checked" id="2">
                        <i class="fa fa-square-o checked"></i> Add some text on it.
                      </label>
                    </span>
        </p>
        <p>
                    <span class="checkbox">
                      <label class="checkbox-custom">
                        <input type="checkbox" name="checkboxB" checked="checked" id="2">
                        <i class="fa fa-square-o checked"></i> What is this?
                      </label>
                    </span>
        </p>
      </section>
    </article>
  </section>
</template>
