<template name="mockup_team_activities">
  <section class="hbox stretch">
    {{> mockup_team_activity_list}}
    {{> mockup_team_conversation_detail}}
  </section>
</template>

<template name="mockup_team_activity_list">
  <aside class="bg-white">
    <section class="vbox">
      <section class="scrollable has-scrollbar">
        <section class="block feed-list activity-list">


          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                joined
                <a href="">
                  <strong>Kengen</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                uploaded a file.
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="file-type-icon png pull-left m-l-xs m-r"><span>png</span></div>
                <a href="#" class="clear">
                  <small class="pull-right">113KB</small>
                  <strong class="block">macpro.png</strong>
                  <small class="pcs-filemeta">
                    <span class="text-muted">
                      Last Updated by Marrian Jason on Feb 28
                    </span>
                    <span class="text-muted">
                      2 Versions
                    </span>
                  </small>
                </a>
              </div>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created a new tasklist
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created 3 new task in
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar_default.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Wellcome and play this web application template ...</span>
                  </a>
                </div>
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Morbi nec nunc condimentum...</span>
                  </a>
                </div>
              </div>
            </section>
          </article>



          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                joined
                <a href="">
                  <strong>Kengen</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                uploaded a file.
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="file-type-icon png pull-left m-l-xs m-r"><span>png</span></div>
                <a href="#" class="clear">
                  <small class="pull-right">113KB</small>
                  <strong class="block">macpro.png</strong>
                  <small class="pcs-filemeta">
                    <span class="text-muted">
                      Last Updated by Marrian Jason on Feb 28
                    </span>
                    <span class="text-muted">
                      2 Versions
                    </span>
                  </small>
                </a>
              </div>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created a new tasklist
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created 3 new task in
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar_default.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Wellcome and play this web application template ...</span>
                  </a>
                </div>
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Morbi nec nunc condimentum...</span>
                  </a>
                </div>
              </div>
            </section>
          </article>

           <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                joined
                <a href="">
                  <strong>Kengen</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                uploaded a file.
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="file-type-icon png pull-left m-l-xs m-r"><span>png</span></div>
                <a href="#" class="clear">
                  <small class="pull-right">113KB</small>
                  <strong class="block">macpro.png</strong>
                  <small class="pcs-filemeta">
                    <span class="text-muted">
                      Last Updated by Marrian Jason on Feb 28
                    </span>
                    <span class="text-muted">
                      2 Versions
                    </span>
                  </small>
                </a>
              </div>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created a new tasklist
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
            </section>
          </article>
          <article class="feed-item activity-item">
            <a class="pull-left thumb-sm avatar">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <section class="feed-body activity-body">
              <header>
                <a href="">
                  <strong>Andy Lau</strong>
                </a>
                created 3 new task in
                <a href="">
                  <strong>Hola</strong>
                </a>
                <br>
                <small class="text-light">2 minutes ago</small>
              </header>
              <div class="feed-body-inner">
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar_default.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Wellcome and play this web application template ...</span>
                  </a>
                </div>
                <div class="pcs-task-item">
                  <a href="#" class="thumb-xs-l pull-right m-l-sm">
                    <img src="/images/avatar.jpg" class="img-circle">
                  </a>
                  <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxA">
                    <i class="fa fa-square-o"></i>
                  </label>
                  <a href="#">
                    <span>Morbi nec nunc condimentum...</span>
                  </a>
                </div>
              </div>
            </section>
          </article>




        </section>
      </section>
    </section>
  </aside>
</template>

