<template name="mockup_sample">

<header class="header bg-black navbar navbar-inverse">
  <div class="collapse navbar-collapse pull-in">
    <ul class="nav navbar-nav m-l-n">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">
                    <img src="/images/avatar.jpg">
                  </span>
          John.Smith <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInLeft">
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="profile.html">Profile</a>
          </li>
          <li>
            <a href="#">
              <span class="badge bg-danger pull-right">3</span>
              Notifications
            </a>
          </li>
          <li>
            <a href="docs.html">Help</a>
          </li>
          <li>
            <a href="signin.html">Logout</a>
          </li>
        </ul>
      </li><li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa-lg"></i> Kengen <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>

      <li class="active"><a href="#">
        <i class="fa fa-globe fa-lg"></i> Explorer</a></li>
    </ul>
    <form class="navbar-form navbar-right m-t-sm" role="search">
      <div class="form-group">
        <div class="input-group input-s">
          <input type="text" class="form-control input-sm no-border bg-dark" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-success btn-icon"><i class="fa fa-search"></i></button>
                  </span>
        </div>
      </div>
    </form>

  </div>
</header><section class="hbox stretch bg-white-only" id="content">
<!-- .aside -->
<aside class="aside aside-lg b-r bg-light lter">
  <div class="text-center bg-white">
    <p class="h4">Project name</p><a href="#" class="btn btn-success m-b-lg"><i class="fa fa-plus"></i> Create project</a>
  </div><div class="nav-primary">
  <ul class="nav b-t">
    <li><a href="#">
      <i class="fa fa-comments  fa-fw"></i>
      Conversations
    </a></li>
    <li><a href="#">
      <i class="fa fa-tasks  fa-fw"></i>
      Tasks
    </a></li>
    <li><a href="#">
      <i class="fa fa-file  fa-fw"></i>
      Files
    </a></li>
    <li><a href="#">
      <i class="fa fa-calendar  fa-fw"></i> Calendar</a></li>
  </ul></div>
</aside>

<aside class="bg-white">
<section class="vbox">
<header class="header bg-light lter bg-gradient b-b clearfix">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-left"></i></button>
    <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group select">
      <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="dropdown-label" style="width: 65px;">Read</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu text-left text-sm">
        <li><a href="#">Read</a></li>
        <li><a href="#">Unread</a></li>
        <li><a href="#">Starred</a></li>
        <li><a href="#">Unstarred</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
    </div>
  </div>
</header>
<section class="scrollable has-scrollbar">
<div class="tab-content">
<div class="tab-pane active" id="activity">
<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 minuts ago</small>
    <strong class="block">Drew Wllon</strong>
    <small>Wellcome and play this web application template ... </small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 hour ago</small>
    <strong class="block">Jonathan George</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">2 hours ago</small>
    <strong class="block">Josh Long</strong>
    <small>Vestibulum ullamcorper sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 day ago</small>
    <strong class="block">Jack Dorsty</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 days ago</small>
    <strong class="block">Morgen Kntooh</strong>
    <small>Mobile first web app for startup...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">Jun 21</small>
    <strong class="block">Yoha Omish</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">May 10</small>
    <strong class="block">Gole Lido</strong>
    <small>Vestibulum ullamcorper sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">Jan 2</small>
    <strong class="block">Jonthan Snow</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item" href="#email-content" data-toggle="class:show">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 minuts ago</small>
    <strong class="block">Drew Wllon</strong>
    <small>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 hour ago</small>
    <strong class="block">Jonathan George</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">2 hours ago</small>
    <strong class="block">Josh Long</strong>
    <small>Vestibulum ullamcorper sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 day ago</small>
    <strong class="block">Jack Dorsty</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 days ago</small>
    <strong class="block">Morgen Kntooh</strong>
    <small>Mobile first web app for startup...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">Jun 21</small>
    <strong class="block">Yoha Omish</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">May 10</small>
    <strong class="block">Gole Lido</strong>
    <small>Vestibulum ullamcorper sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">Jan 2</small>
    <strong class="block">Jonthan Snow</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item" href="#email-content" data-toggle="class:show">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 minuts ago</small>
    <strong class="block">Drew Wllon</strong>
    <small>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 hour ago</small>
    <strong class="block">Jonathan George</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">2 hours ago</small>
    <strong class="block">Josh Long</strong>
    <small>Vestibulum ullamcorper sodales nisi nec...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar_default.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">1 day ago</small>
    <strong class="block">Jack Dorsty</strong>
    <small>Morbi nec nunc condimentum...</small>
  </a>
</li>
<li class="list-group-item">
  <a href="#" class="thumb-sm pull-left m-r-sm">
    <img src="/images/avatar.jpg" class="img-circle">
  </a>
  <a href="#" class="clear">
    <small class="pull-right">3 days ago</small>
    <strong class="block">Morgen Kntooh</strong>
    <small>Mobile first web app for startup...</small>
  </a>
</li>
</ul>
</div>
<div class="tab-pane" id="events">
  <div class="text-center wrapper">
    <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
  </div>
</div>
<div class="tab-pane" id="interaction">
  <div class="text-center wrapper">
    <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
  </div>
</div>
</div>
</section>
</section>
</aside>

<aside class="col-lg-5 b-l">
  <section class="vbox">
    <section class="scrollable has-scrollbar">
      <div class="wrapper">
        <section class="panel">
          <form>
            <textarea class="form-control no-border" rows="5" placeholder="What are you doing..."></textarea>
          </form>
          <footer class="panel-footer bg-light lter">
            <button class="btn btn-info pull-right btn-sm">POST</button>
            <ul class="nav nav-pills nav-sm">
              <li><a href="#"><i class="fa fa-camera"></i></a></li>
              <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
            </ul>
          </footer>
        </section>
        <section class="panel">
          <h4 class="font-thin padder">Latest Tweets</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <p>Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
              <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
            </li>
            <li class="list-group-item">
              <p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
              <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
            </li>
            <li class="list-group-item">
              <p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
              <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
            </li>
          </ul>
        </section>
        <section class="panel clearfix bg-info lter">
          <div class="panel-body">
            <a href="#" class="thumb pull-left m-r">
              <img src="/images/avatar.jpg" class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
              <small class="block text-muted">2,415 followers / 225 tweets</small>
              <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</aside>
<!-- /.aside -->
<!-- .aside -->

<!-- /.aside -->
</section>

</template>