<template name="layoutBasic">
  {{> layoutBasicTopbar }}

  <section id="page" class="uk-grid" role="page">

    <aside id="side" class="uk-width-1-5 bd-r mg-r-xxs-ng">
      {{{ yield 'sidebar' }}}
    </aside>
    <section id="main" class="uk-width-4-5 bd-l" role="main">
      {{{ yield }}}
    </section>

  </section>
</template>

<template name="layoutBasicTopbar">
  <nav class="uk-navbar uk-navbar-attached" role="navigation">
    <a class="uk-navbar-brand" href="#">Plusone</a>

    <div class="uk-navbar-content">
      <div class="uk-button-group">
        {{#with currentTeam}}
          <a class="uk-button uk-button-primary" href="/team/{{slug}}">{{name}}</a>
        {{/with}}
        <div data-uk-dropdown="{mode:'click'}">
          <a class="uk-button uk-button-primary" href="#">
            <i class="uk-icon-caret-down"></i>
          </a>
          <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
              {{#each activeTeams}}
              <li>
                <a href="/team/{{slug}}">{{name}}</a>
              </li>
              {{/each}}
              <li class="uk-nav-divider"></li>
              <li><a href="/me/teams">All Teams</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <ul class="uk-navbar-nav">
      <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
      <li><a href="#"><i class="fa fa-list-ul"></i> Timeline</a></li>
      <li><a href="/explorer"><i class="fa fa-globe"></i> Explorer</a></li>
    </ul>


    <div class="uk-navbar-flip">
      <div class="uk-navbar-content">
        <form class="uk-search" data-uk-search="{source:'my-results.json'}">
          <input type="search" class="uk-search-field" placeholder="Search...">
          <button class="uk-search-close" type="reset"></button>
        </form>

        <div class="uk-button-group">
          <a href="/me" class="uk-button" style="background: url(/images/small_avatar.jpg) no-repeat left center; margin-left: 8px; padding-left: 40px">
            <span>{{currentUserDisplayName}}</span>
          </a>
          <div data-uk-dropdown="{mode:'click'}">
            <a class="uk-button" href="#">
              <i class="uk-icon-caret-down"></i>
            </a>
            <div class="uk-dropdown uk-dropdown-small">
              <ul class="uk-nav uk-nav-dropdown">
                <li><a href="#" class="pjs-logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </nav>

</template>