<template name="layoutBasic">
  {{> layoutBasicTopbar }}

  <section id="page" role="page">

    <aside id="side" class="bg-silver bd-r bd-dark">
      {{{ yield 'sidebar' }}}
    </aside>

    <section id="main" class="bg-silver bg-dark" role="main">
      {{{ yield }}}
    </section>

  </section>
</template>

<template name="layoutBasicTopbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plusone</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="divider"></li>
        <li>
          <div class="btn-group navbar-form">
            {{#with currentTeam}}
              <a class="btn btn-primary" href="/team/{{slug}}">{{name}}</a>
            {{/with}}
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              {{#each activeTeams}}
                <li>
                  <a href="/team/{{slug}}">{{name}}</a>
                </li>
              {{/each}}
              <li class="divider"></li>
              <li><a href="/me/teams">All Teams</a></li>
            </ul>
          </div>
        </li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
        <li><a href="#"><i class="fa fa-list-ul"></i> Timeline</a></li>
        <li><a href="/explorer"><i class="fa fa-globe"></i> Explorer</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form" role="search">
            <input type="text" class="form-control" placeholder="Type to search...">
          </form>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/me" style="background: url(/images/small_avatar.jpg) no-repeat left center; margin-left: 8px; padding-left: 45px">
            <span>{{currentUserDisplayName}}</span>
          </a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="pjs-logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</template>