<template name="sidebarTeam">
  <div class="pd bd-b bd-light">
    <div class="uk-panel uk-text-center">
      {{#with currentTeam}}
        <h3>{{name}}</h3>
      {{/with}}
      {{#if isTeamMember currentTeam}}
        <a href="#" class="uk-button uk-button-success uk-button-small pjs-quit-team">
          <i class="fa fa-arrow-circle-left"></i>
          Quit Team
        </a>
      {{else}}
        <a href="#" class="uk-button uk-button-success uk-button-small pjs-join-team">
          <i class="fa fa-plus"></i>
          Join
        </a>
      {{/if}}
    </div>
  </div>

  <div class="pd">
    <ul class="uk-nav uk-nav-side">
      {{#each navLinks }}
        <li>
          <a href="{{url}}">{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="pd">
    <ul class="uk-list">
      {{#each members}}
        <li>
          <a href="/user/{{username}}">
            <span>{{userDisplayName _id }}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
