<template name="sidebarUser">

  <div class="pd bd-b bd-light">
    <div class="text-center">
      <img src="/images/avatar.jpg" alt="Eric Zhong" />
      <h3>{{userDisplayName user}}</h3>

      {{#if isCurrentUser user}}
        <a href="/me/profile" class="btn btn-sm btn-success">
          <i class="fa fa-edit"></i>
          Edit Profile
        </a>
      {{/if}}
    </div>
  </div>

  <div class="pd">
    <ul class="nav nav-pills nav-stacked">
      {{#each navLinks }}
        <li>
          <a href="{{url}}">{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>