<template name="common_main_navigation">
  <aside class="bg-black lt aside-md" id="nav">
    <section class="vbox">
      <header class="nav-bar dk">
        <a href="" class="nav-brand">plusone</a>
        <input type="text" class="form-control no-border not-implemented" id="search_box" placeholder="Search Everything ...">
      </header>
      <section>
        <section class="nav-user-wrapper">
          <div class="lter hidden-xs pos-rlt nav-user">
            <div class="nav-avatar pos-rlt">
              <a href="" class="thumb-sm avatar" data-toggle="dropdown">
                <img src="/images/avatar.jpg" alt="">
                &nbsp;
                <b>Tom Fischer</b>
                <span class="caret caret-white"></span>
              </a>
              <ul class="dropdown-menu m-t-sm animated fadeInDown">
                <span class="arrow top"></span>
                <li>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="profile.html">Profile</a>
                </li>
                <li>
                  <a href="#">
                    <span class="badge bg-danger pull-right">3</span>
                    Notifications
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="docs.html">Help</a>
                </li>
                <li>
                  <a href="signin.html">Logout</a>
                </li>
              </ul>
            </div>
            <div class="nav-msg not-implemented">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="badge badge-red count-n">3</b>
              </a>
              <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                  <header class="panel-heading">
                    <strong>You have <span class="count-n">2</span> notifications</strong>
                  </header>
                  <div class="list-group">
                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="/images/avatar.jpg" alt="John said" class="img-circle">
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                    </a>
                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                    </a>
                  </div>
                  <footer class="panel-footer text-sm">
                    <a href="#" class="pull-right"><i class="icon-cog"></i></a>
                    <a href="#">See all the notifications</a>
                  </footer>
                </section>
              </section>
            </div>
          </div>
          <nav class="nav-user-menu nav-primary nav-thin hidden-xs">
            <ul class="nav">
              <li>
                <a href="">
                  <i class="icon-eye-open"></i>
                  <span>Inbox</span>
                </a>
              </li>              
              <li>
                <a href="#">
                  <i class="icon-beaker"></i>
                  <span>My Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
        <section class="nav-team-wrapper">
          <div class="lter hidden-xs pos-rtl nav-team nav-user">
            <a href="" data-toggle="dropdown">
              <i class="icon-group"></i>
              &nbsp;
              <b>Big bang</b>
              <span class="caret caret-white"></span>
            </a>
            <ul class="dropdown-menu m-t-sm animated fadeInDown">
              <span class="arrow top"></span>
                {{#each projects}}
                  <li>
                    <a href="#">{{name}}</a>
                  </li>
                {{/each}}
            </ul>

          </div>
          <nav class="nav-user-menu nav-primary nav-thin hidden-xs">
            <ul class="nav">
              <li>
                <a href="">
                  <i class="icon-eye-open"></i>
                  <span>Summary</span>
                </a>
              </li>              
              <li>
                <a href="#">
                  <i class="icon-beaker"></i>
                  <span>Tasks</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </section>
    </section>
  </aside>
</template>