<template name="discussion">
  <header>
    <div class="bd-b bg-white pd-xl">
      <h3>
        {{title}}
        <div class="pull-right">
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-comment"></span>
            Comment
          </button>
          <button class="btn">
            <span class="glyphicon glyphicon-list"></span>
          </button>
        </div>
      </h3>
    </div>
  </header>

  <section class="bg-white pd-xl">
    {{#each comments}}
      {{> partialComment}}
      <hr>
    {{/each}}
  </section>
</template>