<template name="discussion">
  <header>
    <div class="bd-b bg-white pd-xl">
      <h3>
        {{title}}
        <div class="pull-right">
          <button class="btn btn-success">
            <i class="fa fa-comment"></i>
            Comment
          </button>
          <button class="btn">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        </div>
      </h3>
      {{text}}
    </div>
  </header>

  <section class="bg-white pd-xl">
    {{#each comments}}
      {{> partialComment}}
      <hr>
    {{/each}}
  </section>
</template>