<template name="discussion">
  <header>
    <div class="bd-b bg-white pd-xl">
      <h3>
        {{title}}
        <div class="pull-right">
          <button class="uk-button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        </div>
      </h3>
      {{text}}
    </div>
  </header>

  <section class="bg-white pd-xl">
    {{#each comments}}
      {{> partialComment}}
      <hr>
    {{/each}}
    <form class="uk-form pjs-comment-form">
      <textarea class="uk-width-1-1" id="commentContent" rows="5" required></textarea>
      <hr/>
      <button type="submit" class="uk-button uk-button-primary">
        <i class="fa fa-plus"></i>
        Comment
      </button>
    </form>
  </section>
</template>