<template name="teamDiscussions">
  <header>
    <div class="bd-b bg-white pd-xl">
      {{#with currentTeam}}
      <h3>
          Discussions in {{name}}
        <div class="pull-right">
          <a href="/team/{{slug}}/discussions/new" class="uk-button uk-button-success">
            <i class="fa fa-plus"></i>
            Start a discussion
          </a>
          <button class="uk-button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        </div>
      </h3>
      {{/with}}
    </div>
  </header>

  <section class="bg-white pd-xl">
    {{#each discussions}}
      {{> partialDiscussion}}
    {{/each}}
  </section>
</template>

