<template name="nav_sub_projects">
  <section class="vbox">
    <section class="scrollable">
      <div class="wrapper">
        {{#with currentProject }}
        <header class="m-b">
          <a href="#" class="h3 m-t-xs m-b-xs m-l-n-xs" data-toggle="dropdown">
            <span class="text-thick">
              <i class="icon-suitcase text-light"></i>
                {{name}}
            </span>
              <i class="icon-angle-down text-light pull-right"></i>
          </a>
          {{#if public}}
            <p>public</p>
          {{/if}}
          <ul class="dropdown-menu m-t-sm pojs-project-changer">
            {{#each projects}}
              <li>
                <a href="#" data-po-key="{{_id}}" data-po-type="Project" data-po-property="name">{{name}}</a>
              </li>
            {{/each}}
            <li class="divider"></li>
            <li>
              <a href="#">All Projects...</a>
            </li>
          </ul>
        </header>

        <div class="text-multiline-ellipsis m-b-lg" style="max-height: 150px;">
          <p>{{description}}</p>
        </div>

        <div class="clearfix m-b-lg">
          {{#each members }}
            <a href="#" data-toggle="tooltip" title="{{userDisplayName userId}}" class="pull-left thumb-lsm m-r-1px">
              <img src="images/avatar.jpg" class="img-circle opacity-dp hover-full-opacity">
            </a>
          {{/each}}
        </div>
        <div class="clearfix">
          <a class="btn btn-default btn-sm pull-right">
            <i class="icon-cog"></i>
            Project Settings
          </a>
        </div>
        <div class="line"></div>

        {{/with}}

        <ul class="nav nav-bigtext nav-stacked no-radius">
          <li>
            <a href="/discussions">
              <span class="badge pull-right">15</span>
              <i class="icon-comments-alt"></i>
              Discussions
            </a>
          </li>
          <li class="active">
            <a href="/tasks">
              <i class="icon-tasks"></i>
              Tasks
            </a>
          </li>
          <li>
            <a href="#">
              <span class="badge badge-hollow pull-right">4</span>
              <i class="icon-file-text-alt"></i>
              Files
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-bell"></i>
              Events
            </a>
          </li>
          <li>
            <a href="#">
              <span class="badge badge-hollow pull-right">3</span>
              <i class="icon-time"></i>
              Activities
            </a>
          </li>
        </ul>
      </div>
    </section>
  </section>
</template>