<template name="nav_sub_user">
  <section class="vbox">
    <section class="scrollable">
      <div class="wrapper">
        <div class="clearfix m-b">
          <a href="#" class="pull-left thumb m-r">
            <img src="images/avatar.jpg" class="img-circle">
          </a>
          <div class="clear">
            <div class="h3 m-t-xs m-b-xs">{{userDisplayName currentUser}}</div>
            <small class="text-muted"><i class="icon-map-marker"></i> London, UK</small>
          </div>

        </div>
        <div class="text-multiline-ellipsis" style="max-height: 100px">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur dignissimos dolor dolorum earum expedita facilis, in porro, provident, quos tempora temporibus? Eos, odit quisquam recusandae sapiente totam velit voluptate?</p>
        </div>
        <div class="clearfix">
          <a class="btn btn-warning btn-sm pull-right pojs-logout">
            <i class="icon-signout"></i>
            Logout
          </a>
          <a class="btn btn-default btn-sm pull-right m-r-xs">
            <i class="icon-cog"></i>
            Settings
          </a>
        </div>
        <div class="line"></div>
        <ul class="nav nav-bigtext nav-stacked no-radius">
          <li>
            <a href="#">
              <span class="badge pull-right">15</span>
              <i class="icon-inbox"></i>
              Inbox
            </a>
          </li>
          <li class="active">
            <a href="#">
              <i class="icon-list-ul"></i>
              My Items
            </a>
          </li>
          <li>
            <a href="#">
              <span class="badge badge-hollow pull-right">4</span>
              <i class="icon-time"></i>
              Activities
            </a>
          </li>
        </ul>
      </div>
    </section>
  </section>
</template>