<template name="teamFiles">

  <header>
    <br>
    <h3>
      Files in Kengen
      <div class="right">
        <button class="button tiny">Upload a File</button>
        &nbsp;
        <button class="button tiny">...</button>
      </div>
    </h3>
    <hr>
  </header>
  <div>
    <a href="#">A</a>
    <a href="#">B</a>
    <span>..</span>
    <a href="#">D</a>
    <span>..</span>
    <a href="#">G</a>
    <span>..</span>
    <a href="#">J</a>
    <a href="#">K</a>
    <span>..</span>
    <a href="#">M</a>
    <a href="#">N</a>
    <a href="#">O</a>
    <a href="#">P</a>
    <span>..</span>
    <a href="#">R</a>
    <a href="#">S</a>
    <a href="#">T</a>
    <span>..</span>
    <a href="#">W</a>
    <span>..</span>
    <hr/>
  </div>
</template>
